<div class="ui-g">
  <p-toast></p-toast>
  <p-confirmDialog header="Confimacion" acceptLabel="Si" rejectLabel="Cancelar" icon="pi pi-exclamation-triangle">

  </p-confirmDialog>
  <p-panel header="Preoceso Electorales" >
    <p-toolbar >
      <ng-template pTemplate="left">
        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="showSaveDialog(false)" ></button>
        <button pButton pRipple label="Editar" icon="pi pi-pencil" class="p-button-warning mr-2" (click)="showSaveDialog(true)" [disabled]="!proccesoESelected.id" ></button>
        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger  mr-2" (click)="delete()" [disabled]="!proccesoESelected.id"></button>
      </ng-template>
    </p-toolbar>

    <p-table [value]="procesoElectorales" [columns] ="cols"  selectionMode="single" [(selection)]="proccesoESelected" dataKey="id" [paginator]="true"
             [rows]="5">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns"  pSortableColumn="col.field">
            {{col.header}}
            <p-sortIcon field="col.field"></p-sortIcon>
          </th>
          <th>Operaciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-procesoElectoral let-columns="columns">
        <tr [pSelectableRow]="procesoElectoral">
          <td *ngFor="let col of columns">
            {{procesoElectoral[col.field]}}
          </td>

          <td>
            <button pButton pRipple label="Iniciar" icon="pi pi-unlock" class="p-button-rounded p-button-help p-mr-2" (click)="iniciarProc(procesoElectoral)" [disabled]=" !proccesoESelected.id  || ( proccesoESelected.id != procesoElectoral.id || proccesoESelected.fechaIniProc)"></button>
            <button pButton pRipple label="Finalizar" icon="pi pi-lock" class="p-button-rounded p-button-danger" (click)="finalizarProc(procesoElectoral)" [disabled]="!proccesoESelected.id  || ( proccesoESelected.id != procesoElectoral.id || proccesoESelected.fechaFinProc || !proccesoESelected.fechaIniProc)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

  <p-dialog header="Proceso Electoral" [responsive]="true"  [(visible)]="displaySaveDialog" [modal]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id">ID</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="id" [disabled]="true"  [(ngModel)]="procesoElectoral.id"  >
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="nombreProceso">Nombre</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="nombreProceso" [(ngModel)]="procesoElectoral.nombreProceso"  >
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clarfix">
        <button type="button" pButton icon="pi pi-check" (click)="save()" label="Guardar"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
