<!--header-->
<header class="header">
  <div class="logo">
    <img src="../../../assets/components/images/logogrande.jpg" alt="logo Santa Maria Madgalena">
  </div>
  <nav class="nav">
    <a [routerLink]=" ['/login']" class="nav-link">Iniciar Sesion</a>
    <a (click)="scrollToIfReady('info2')" class="nav-link">Procesos</a>
    <a href="#" class="nav-link">Listas</a>
    <a href="#" class="nav-link">Candidatos</a>
  </nav>
</header>



<div class="slider-wrapper">
  <button class="nav-button prev-button" (click)="moveSlide(-1)">&#10094;</button>

  <div class="slider-container" #slider>
    <img class="slider-item" src="../../../assets/img/image1.jpg" />
    <img class="slider-item" src="../../../assets/img/image2.jpg" />
    <img class="slider-item" src="../../../assets/img/image3.jpg" />
  </div>

  <button class="nav-button next-button" (click)="moveSlide(1)">&#10095;</button>
</div>







<!-- PROCESOS ELECTORALES -->
<div class="info2" id="info2">


  <div class="info-wrapper fade-in">



    <div class="grid">
      <div class="col-12">
        <h2 class="mb-3">Procesos Electorales</h2>
        <div class="grid">

          <div class="col-12 md:col-4" *ngFor="let proceso of procesos" (click)="seleccionarProceso(proceso)">



            <div class="custom-card" (click)="seleccionarProceso(proceso);scrollToIfReady('list')" [ngClass]="{
                'seleccionado': proceso === procesoSeleccionado,
                'opaco': procesoSeleccionado && proceso !== procesoSeleccionado}">
              <div class="card-content">
                <h3 class="card-title">{{ proceso.nombreProceso }}</h3>
                <p class="card-subtitle">{{ formatearFecha(proceso.fechaIniProc)+''}}</p>
                <p class="card-text">Click para ver las listas inscritas</p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <!-- LISTAS INSCRITAS -->

      <div class="col-12 mt-4" *ngIf="listas.length > 0" id="list">
        <h3 class="mb-3 text-xl font-semibold text-gray-800">Listas Inscritas</h3>

        <div class="grid">
          <div class="col-12 md:col-4" *ngFor="let lista of listas"
            (click)="seleccionarLista(lista); scrollToIfReady('cand')">

            <div class="custom-card2">
              <p class="cardtitle2">{{lista.nombre}} </p>

              <img [src]="lista.rutaArchivo" alt="Imagen de lista" class="card-image2" />

              <button type="button" class="card-button2">
                Ver <strong>candidatos</strong> y <strong>propuestas</strong>
              </button>
            </div>

          </div>
        </div>
      </div>


      <!-- CANDIDATOS Y PROPUESTAS -->
      <div *ngIf="listaSeleccionada!=null">


        <div class="col-12 mt-4" *ngIf="candidatos.length > 0 || propuestas.length > 0">
          <h3 class="mb-3">Detalles de la Lista</h3>
          <p-accordion [multiple]="true" [activeIndex]="[0,1]">
            <p-accordionTab header="Candidatos" *ngIf="candidatos.length > 0">
              <ul class="p-list">
                <li *ngFor="let c of candidatos" class="p-2 border-bottom-1 surface-border">
                  <strong>{{ c.socio.persona.fullnombre }}</strong><br />
                  <small class="text-gray-500">{{ c.cargo }}</small>
                </li>
              </ul>
            </p-accordionTab>
            <a id="cand"></a>

            <p-accordionTab header="Propuestas" *ngIf="propuestas.length > 0">
              <ul class="p-list">
                <li *ngFor="let p of propuestas" class="p-2 border-bottom-1 surface-border">
                  {{ p.propuesta }}
                </li>
              </ul>
            </p-accordionTab>
          </p-accordion>
        </div>
        <div *ngIf="candidatos.length ==0">
          <h1>no hay candidatos en la lista: <b>{{listaSeleccionada.nombre}}</b> </h1>

        </div>
        <div *ngIf="propuestas.length ==0">
          <h1>no hay propuestas en la lista: <b>{{listaSeleccionada.nombre}}</b> </h1>

        </div>

      </div>

    </div>
  </div>
</div>