
html {
  scroll-behavior: smooth;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #006633;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px #3bdf8d;
}

.logo img {
  height: 40px;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  color: #1abc9c;
}

/*caards*/



.fade-in {
  animation: fadeInUp 0.5s ease-out both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.info2{
    margin: 20px;
    padding: 50px;
}
.custom-card {
  display: flex;
  flex-direction: column;
  background-color: #006633;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  color: white;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  margin: 1rem auto;
}

.custom-card:hover {
  border-color: #006633be;
  transform: scale(1.02);
  box-shadow: 0 4px 16px rgba(5, 238, 36, 0.3);
  background-color: rgb(18, 163, 54);
  color: #ffee02;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin: 0;
}

.card-subtitle {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.card-text {
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

/* Estado seleccionado */
.seleccionado {
  border-color: #000000 !important;
  
  box-shadow: 0 4px 20px rgba(245, 242, 75, 0.952);
}

.seleccionado .card-title,
.seleccionado .card-subtitle,
.seleccionado .card-text {
  color: #ffee02;
}

/* Estado opaco */
.opaco {
  opacity: 0.5;
}

.custom-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  padding: 1rem;
  background: #239243;
}

.custom-card2:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  scale: 1.05;
}


.card-image2 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}


.cardtitle2{
  color: #ffffff;
  font-size:1.3rem;
  font-weight: bold;
  text-align: center;
}

.card-button2 {
  display: inline-block;
  background-color: #006633; /* Indigo-600 */
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 0.75rem;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.card-button2:hover {
  background-color: #006633; /* Indigo-700 */
}



/*estilos carrocel*/
/*.slider-container {
  display: flex;
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}*/
.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
  border-radius: 50%;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}







/* Responsive */
@media (min-width: 768px) {
  .custom-card {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .nav-link {
    font-size: 0.8rem; /* más pequeño en pantallas pequeñas */
  }
}

